.navbar-inverse {
  background-color: #3c8fde;
  border-color: #3c8fde;
font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
}

body { padding-top: 70px;
font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif; }

